.header__figure {
    width: 100vw;
    
}
.header__figure__img {
    width: 100%;
}

h1 {
    text-align: center;
    position: relative;
    top: -50rem 
}

.call-to-action {
     position: relative;
     top: -10rem;
     left: 49%;
     
}


.fas, .fa-chevron-down {
    font-size: 3rem;
    color: #000;
    text-align: center;
}


 
