/* Formulaire */

fieldset {
	width: 400px;
	border: ridge black 3px;
	padding: 10px;
	/*margin: 0 auto; si tu veux le centrer*/
}

legend {
	font-family: serif;
	font-size: 25px;
	text-align: center;
}

th {
	font-family: serif;
	font-size: 20px;
	padding: 10px;
}

/* Bouton envoyer */

td .submit {
	background-color: white;
	font-family: serif;
	font-size: 20px;
	padding: 5px;
	margin: 5px;
	border-radius: 20px;
}

td .submit:hover {
	background-color: grey;
	color: white;

}